# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
lib-cov
coverage
*.lcov
.nyc_output

# Build tools
.grunt
bower_components
.lock-wscript
build/Release

# Dependency directories
node_modules/
jspm_packages/
web_modules/

# Cache / output
*.tsbuildinfo
.npm
.eslintcache
.stylelintcache
.node_repl_history
*.tgz
.yarn-integrity
.cache
.parcel-cache

# Dist / build output
.next
out
.nuxt
dist/
dist-ssr

# Env files
.env
.env.*
!.env.example

# Framework caches
.svelte-kit/
**/.vitepress/dist
**/.vitepress/cache
.docusaurus
.serverless/
.fusebox/
.dynamodb/
.firebase/
.tern-port
.vscode-test

# Vite
.vite/
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
*.local

# Yarn v3
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Editor
node_modules/
dist/
.env
.DS_Store
dist-ssr
.env.*
!.env.example

# Framework caches
.svelte-kit/
**/.vitepress/dist
**/.vitepress/cache
.docusaurus
.serverless/
.fusebox/
.dynamodb/
.firebase/
.tern-port
.vscode-test

# Vite
.vite/
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local CSS Archive Files
_archive_styles/
